body {
    background-color: #f8f9fa;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  #sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
  }
  
  #wrapper {
    display: flex;
    width: 100%;
  }
  
  #page-content-wrapper {
    width: 100%;
    margin-left: 250px; /* Space for the sidebar */
  }
  
  .card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  table {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  button {
    font-size: 14px;
  }
  
  #categoryFilter {
    width: 200px;
  }
  
  header {
    background-color: #007bff;
    color: white;
  }
  
  footer {
    background-color: yellowgreen;!important
    color: white;
  }
  
  footer p {
    margin: 0;
  }
  
  footer p:first-child {
    font-size: 14px;
  }
  
  #sidebar h2 {
    font-size: 1.5rem;
    text-align: center;
  }
  
  #sidebar .nav-link {
    color: white;
  }
  
  #sidebar .nav-link:hover {
    background-color: #007bff;
    border-radius: 4px;
  }
  